<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Recharge History</h4>
        <p class="card-category">Latest Orders</p>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-danger">
            <th>TransanctionId</th>
            <th>User Id</th>
            <th>Amount</th>
            <th>Date</th>
          </thead>
          <tbody>
            <ng-container *ngFor="let recharge of rechargeHistory">
              <tr>
                <td>TRXN{{ recharge.transactionId }}</td>
                <td>{{ recharge.userId }}</td>
                <td>{{ recharge.rechargeAmount }}</td>
                <td>{{ recharge.rechargeDate | date }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
