<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a
            href="https://easyfoodhome.firebaseapp.com/codewrap.html"
            target="_blank"
          >
            Codewrap
          </a>
        </li>
        <li>
          <a href="https://easyfoodhome.firebaseapp.com/" target="_blank">
            About Us
          </a>
        </li>
        <li>
          <a href="https://easyfoodhome.firebaseapp.com/" target="_blank">
            Blogs
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy; 2020, made with
      <i class="material-icons text-primary">favorite</i> by
      <a href="https://www.linkedin.com/in/yogeshjain96/" target="_blank">
        TheOne
      </a>
    </div>
  </div>
</footer>
