<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://easyfoodhome.firebaseapp.com/" target="_blank">
            CodeWrap
          </a>
        </li>
        <li>
          <a href="https://easyfoodhome.firebaseapp.com/" target="_blank">
            About Us
          </a>
        </li>
        <li>
          <a href="https://easyfoodhome.firebaseapp.com/" target="_blank">
            Blogs
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy; 2020 &mdash; Crafted with
      <span style="color:#F00"><i class="material-icons">favorite</i></span>
      by
      <a href="https://www.linkedin.com/in/yogeshjain96/" target="_blank"
        >TheOne</a
      >
    </div>
  </div>
</footer>
